*{
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
@keyframes animate-to-bottom {
    0% {
        top: 1px;
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100% {
        top: 40px;
        opacity: 0;
    }
}
.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 25px 0;
}

.logo{
    width: 140px;
}

.nav-item :hover{
    color:#8F754F;
}
.nav-link{
    color:#303030;
}



.intro{
    background-image: url('images/drew-coffman-1872.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.intro-container{
   text-align: center;
}
.intro-container p{
    line-height: 1.86em;  
}
.intro button{
    margin-right: 5px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: small;
}
.learn-more{
    background-color:#8F754F;
    border: none;
}
.contact-us{
    border: 1px solid #fff;
}

.intro button:hover{
    background-color:#fff !important;
    color:#8F754F !important;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.pointer {
    width: 30px;
    height: 50px;
    position: absolute;
    border-radius: 5rem;
    border: 1px solid aliceblue;
    cursor: pointer;
    bottom: 5%;
    overflow: hidden;
}
.pointer div{
    position: absolute;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    width: 8px;
    top: 1px;
    border-radius: 50%;
    animation-name: animate-to-bottom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#About p{color:#666666;}
#OurOffer p {color:#666666;}
#Gallery p, h4{color:#666666;}
#ContactInfo p,li{color:#666666;}
.bg-sec {
    background-color: #403d38;
} 

#ending li{
    color:rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #ccc;
}
#ending a{
    color:rgba(255, 255, 255, 0.5);
}


#footer{
    background-color: #353330;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-pic{
    padding-top: 50px;
    display: flex;
    justify-content: center;  
    align-items: center;
}
#footer p{
    text-align: center;
    color:rgb(102, 102, 102);
    font-size: small;
}
.socials{
    display: flex;
    justify-content: center; 
    align-items: center;
}

body{
    font-family:'cormorant garamond';
}
